<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Груминг кеесхондов и других шпицев  {% if $page.title %} - {{ page.title }} {% endif %}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
  <link href='http://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Andika' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Kelly+Slab&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ruslan+Display&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Philosopher&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="../public/js/jquery.js"></script>
	<link rel="stylesheet" href="../public/style.css" type="text/css" media="screen, projection" />
	<link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <script src="../public/jquery/thickbox/js/thickbox.js" type="text/javascript"></script>
  <link rel="stylesheet" href="../public/jquery/thickbox/css/thickbox.css" type="text/css">
	<link rel="Shortcut Icon" type="image/x-icon" href="../public/favicon.ico" />	
	<style>
    @font-face {
      font-family: 'HansHand';
      src: url(../public/HansHand.ttf);
    }
  </style>
	<!--[if lte IE 6]><link rel="stylesheet" href="style_ie.css" type="text/css" media="screen, projection" /><![endif]-->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32677413-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body >
  <div id="wrap">
    <div id="header">
      <div class="clear"></div>
      <h1 id="sitename"></h1>
      <div id="tabhead">Груминг кеесхондов и других шпицев</div>
    </div>
    <div id="content">
      <div id="sidebar">
        <div class="sidebartop">
        </div>
        <div id="sidebarcontent">
          {% include menu.html %}
        </div>
        <br>
      </div>

      <div id="left">
        <div id="tab">
         <div class="componentheading">{{ page.title }}</div>
        {{ content }}
        </div>
        <div id="tabcontent">
        </div>
        <center><a href="http://s05.flagcounter.com/more/8PTX"><img src="http://s05.flagcounter.com/count/8PTX/bg_FFFFFF/txt_000000/border_FFFFFF/columns_8/maxflags_12/viewers_0/labels_0/pageviews_1/flags_1/" alt="free counters" border="0"></a></center>
      </div>
      
      <div class="post">
        <div class="posttop"></div>
        <div class="postitem">
          <br>
        </div>
      </div>
    </div>
    
    <div class="clear"></div>
    <div id="footer">
      <!--LiveInternet counter--><script type="text/javascript">document.write("<a href='http://www.liveinternet.ru/click' target=_blank><img src='//counter.yadro.ru/hit?t14.4;r" + escape(document.referrer) + ((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth)) + ";u" + escape(document.URL) + ";" + Math.random() + "' border=0 width=88 height=31 alt='' title='LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня'><\/a>")</script><!--/LiveInternet-->
  </div>
</div>
</div>
</body>
</html>
